{
    "API_PATH": "API",
    "APPLICATION_PATH": "APPLICATION",
    "DOMAIN_PATH": "DOMAIN",
    "INFRASTRUCTURE_PATH": "INFRASTRUCTURE",
    "CONTROLLERS": {
        "GENERIC_NAME": "GenericController",
        "PATH": "API_PATH/Controllers"
    },
    "DTO": {
        "PATH": "APPLICATION_PATH/Dto",
        "LIST_PATH": "APPLICATION_PATH/AppInjector.cs"
    },
    "SERVICE": {
        "IPATH": "APPLICATION_PATH/IService",
        "PATH": "INFRASTRUCTURE_PATH/Service",
        "IGENERIC_NAME": "IGenericService",
        "GENERIC_NAME": "GenericService",
        "SERVICE_VARIABLE": "services",
        "LIST_PATH": "INFRASTRUCTURE_PATH/InfraInjector.cs"
    },
    "MAPPER": {
        "PATH": "APPLICATION_PATH/Mapper",
        "SERVICE_VARIABLE": "services",
        "LIST_PATH": "APPLICATION_PATH/AppInjector.cs"
    },
    "DATA": {
        "PATH": "INFRASTRUCTURE_PATH/Data"
    },
    "MODEL": {
        "PATH": "DOMAIN_PATH/Model",
        "EXCLUDED": [
            "PortfolioDisciplinaryActionType",
            "PaymentMethod",
            "CourseRequisiteType",
            "PortfolioIncidentStatus",
            "PortfolioDisciplinaryActionStatus",
            "TODO.txt.cs",
            "AccessList",
            "AccessListAction"
        ],
        "LIST": [
            "AcademicCalendar",
            "AcademicProgram",
            "AcademicTerm",
            "AccessList",
            "AccessListAction",
            "AccountGroup",
            "AdmissionApplicant",
            "AdmissionApplication",
            "AdmissionEvaluationSchedule",
            "AdmissionProgramRequirement",
            "AdmissionSchedule",
            "AdmissionScore",
            "Agency",
            "Building",
            "Bulletin",
            "BulletinCategory",
            "BulletinScope",
            "Campus",
            "ClearanceTag",
            "ClearanceType",
            "College",
            "Course",
            "CourseCrediting",
            "CourseFee",
            "CourseRequisite",
            "CourseRequisiteType",
            "CourseToLearningObjectiveMapping",
            "Curriculum",
            "CurriculumDetail",
            "Cycle",
            "EducationalQualityAssuranceAssessmentType",
            "EducationalQualityAssuranceCourseObjective",
            "EducationalQualityAssuranceEducationalGoal",
            "EducationalQualityAssuranceLearningObjective",
            "EducationalQualityAssuranceProgramObjective",
            "EducationalQualityAssuranceProgramObjectiveToJobRole",
            "EducationalQualityAssuranceType",
            "Enrollment",
            "EnrollmentBilling",
            "EnrollmentFee",
            "EnrollmentGrade",
            "EnrollmentLog",
            "EnrollmentPayment",
            "EnrollmentRole",
            "EvaluationPeriod",
            "EvaluationRating",
            "EvaluationRatingDetail",
            "FileTable",
            "FundSource",
            "GradeBook",
            "GradeBookItem",
            "GradeBookItemDetail",
            "GradeBookItemToEqaLearningObjectiveMapping",
            "GradeBookScore",
            "GradeInput",
            "GradingPeriod",
            "GraduationApplicant",
            "GraduationCampus",
            "Instrument",
            "LikertQuestion",
            "OtherSchool",
            "Parameter",
            "ParameterCategory",
            "ParameterSubCategory",
            "PaymentMethod",
            "PetitionCourses",
            "PortfolioDisciplinaryAction",
            "PortfolioDisciplinaryActionStatus",
            "PortfolioDisciplinaryActionType",
            "PortfolioEntry",
            "PortfolioIncident",
            "PortfolioIncidentStatus",
            "PortfolioIncidentType",
            "PortfolioProvider",
            "PortfolioScope",
            "PortfolioSession",
            "PortfolioSessionInvolved",
            "PortfolioSessionType",
            "PortfolioType",
            "ProgramType",
            "Requirement",
            "Room",
            "Schedule",
            "ScheduleAttendance",
            "ScheduleMerge",
            "ScheduleTeacher",
            "ScholarshipApplication",
            "ScholarshipCycleLimit",
            "ScholarshipEvaluation",
            "ScholarshipList",
            "ScholarshipRequirement",
            "SectorDiscipline",
            "SkillsFrameworkCompetency",
            "SkillsFrameworkCompetencyCategory",
            "SkillsFrameworkCompetencyType",
            "SkillsFrameworkCourseToCompetency",
            "SkillsFrameworkCriticalWorkFunction",
            "SkillsFrameworkGroupLevel",
            "SkillsFrameworkJobRole",
            "SkillsFrameworkJobRoleToCriticalWorkFunction",
            "SkillsFrameworkJobRoleToProficiencyLevel",
            "SkillsFrameworkKeyTask",
            "SkillsFrameworkPerformaceExpectationToJobRole",
            "SkillsFrameworkPerformanceExpectation",
            "SkillsFrameworkProficiencyLevel",
            "SkillsFrameworkSkills",
            "SkillsFrameworkSkillsToCompetency",
            "SkillsFrameworkTrackSpecialization",
            "TableObject",
            "User",
            "Voucher",
            "VoucherApplied",
            "UserAccess",
            "UserCampusDetails",
            "AccessGroupAction",
            "UserAccessGroupDetails",
            "AdmissionApplicantFamilyDetails",
            "AdmissionEducationalBackground",
            "GeneratedSections"
        ]
    }
}